/* custom properties */
:root {
  --primary-font-color: #F2F4F3;
  --secondary-font-color: #5E503F;
  --primary-background-color: #A9927D;
  --secondary-background-color: #22333B;
  --normal-font-stack: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --header-font-stack: MoraiOne, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --extra-font-stack: FunnelDisplay, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* fix automatic autocomplete styling */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text; /* Ensures background fills text area */
  -webkit-text-fill-color: inherit; /* Inherits text color from parent */
  background-color: transparent !important; /* Forces transparent background */
  box-shadow: 0 0 0px 1000px transparent inset !important; /* Prevents default box-shadow overlay */
}

/* fonts */
@font-face {
    font-family: 'MoraiOne';
    src: url('fonts/moiraione-regular-webfont.woff2') format('woff2'),
        url('fonts/moiraione-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FunnelDisplay';
    src: url('fonts/funneldisplay-variablefont_wght-webfont.woff2') format('woff2'),
        url('fonts/funneldisplay-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins-regular-webfont.woff2') format('woff2'),
        url('fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* CSS Reset -Josh Comeau */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.content {
    display: flex;
    height: auto;
}

/* image container */

.image-container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;

    width: 40%;
    min-width: 40%;
    max-width: 40%;
    height: 100vh;

    color: var(--primary-font-color);
}

.image-container>:not(img) {
    z-index: 1;
}

.image-container .top {
    display: flex;
    flex-direction: column;

    height: 33%;

    justify-content: space-between;
}

.image-container .top h1 {
    font-family: var(--header-font-stack);
    padding: 10px;
}

.image-container .top div.bible-verse {
    padding: 10px 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.image-container .top p.bible-verse {
    font-size: 1rem;
    padding: 0px 10px;
    
    text-align: center;
}

.image-container .bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 15%;

    font-family: var(--normal-font-stack);
    font-size: 1.5rem;
}

.image-container .bottom p {
    padding: 0px 10px;
}

.image-container .bottom h1 {
    font-family: var(--normal-font-stack);
    font-size: 1.5rem;
    text-align: center;
}

.image-container .bottom p.credit {
    font-size: 0.8rem;
    justify-self: end;
}

img {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

a {
    text-decoration: none;
    color: var(--secondary-font-color);
}

/* form */

div.form-container {
  display: flex;
  flex-direction: column;
  flex: auto;

  justify-content: center;

  height: 100vh;
  width: 100%;

  background-color: var(--primary-background-color);
  color: var(--primary-font-color);
}

div.form-container h1 {
  font-family: var(--normal-font-stack);
  font-size: 2.5rem;
  }

div.form-container .top {
  display: flex;
  flex-wrap: wrap;

  margin: 256px 64px 0px 64px;
}

div.form-container .bottom {
  display: flex;
  flex-wrap: wrap;

  margin: 32px 64px 224px 64px;
}

.layout {
  width: 50%;
  gap: 0px;
}

.form-control {
  position: relative;

  width: 50%;
  padding: 32px 0px;
}

.form-control input {
  border-color: rgba(94, 80, 63, 0.3);
  border-radius: 4px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-style: solid;

  color: var(--primary-font-color);
  background-color: var(--primary-background-color);
}

input::placeholder {
  color: transparent;
}

.form-control span {
  position: absolute;
  left: 4px;
  bottom: 36px;
  z-index: 0;

  font-family: var(--extra-font-stack);
  font-weight: bolder;

  color: var(--primary-font-color);
  opacity: 0.7;

  transition: bottom 250ms, font-size 250ms, opacity 250ms;
  pointer-events: none;
}

.form-control input:focus + span,
.form-control input:valid + span,
.form-control input:not(:placeholder-shown) + span {
  bottom: 64px;
  font-size: 0.85em;
  opacity: 0.9;
}

.form-control input:focus {
  border-color: #B3EBF2;
  box-shadow: 4px 4px #0A0908;
}

.form-control input:user-invalid {
  border-color: #E63946;
}

.form-control input:user-valid {
  border-color: #38b000;
}

.submit {
  padding-bottom: 8px;
}

.form-control button {
  width: 224px;
  height: 48px;

  color: var(--primary-font-color);
  background-color: var(--secondary-background-color);

  border-radius: 4px;

  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
}

.login-q span{
  color: var(--secondary-font-color);
}